<div class="container">
  <form [formGroup]="register" (ngSubmit)="getData()">
    <div formGroupName="primary">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="asd@asd.com">
        <!-- <small *ngIf="register.primary.get('email').invalid&&register.primary.get('email').touched" id="emailHelp" class="form-text text-muted">Email should be filled</small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <!-- <small *ngIf="register.primary.get('password').invalid&&register.primary.get('password').touched" id="emailHelp" class="form-text text-muted">Password should be filled</small> -->
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>